<div id="carouselExampleFade" class="carousel slide carousel-fade caroussel1" data-bs-ride="carousel">
    <div class="carousel-inner caroussel1__inner">
      <div class="carousel-item active">
        <img src="https://image.freepik.com/fotos-gratis/mensageiro-frontal-masculino-com-mascara-com-entrega-de-cafe-e-caixa-de-comida-em-amarelo-servico-servico-cor-covid-virus-pandemico-de-trabalho_179666-22317.jpg" class="d-block w-100 img-responsive" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://img.freepik.com/fotos-gratis/correio-feminino-de-vista-frontal-com-pacotes-de-alimentos-e-caixas-no-servico-de-entrega-de-comida-de-trabalhador-de-cor-rosa_179666-22031.jpg?size=626&ext=jpg&ga=GA1.2.1746131912.1618444800" class="d-block w-100 img-responsive" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://img.freepik.com/fotos-gratis/mensageiro-frontal-masculino-em-uniforme-vermelho-com-caixa-de-comida-e-cafe-na-cor-amarela-do-virus-da-pandemia-do-servico-de-emprego_179666-22344.jpg?size=626&ext=jpg" class="d-block w-100 img-responsive" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
